body {
    width: 100%;
    font-size: 25px;
}

.gif-display img {
    max-width: 300px;
}

.gif-div {
    display: inline-block;
}

.heading img {
    /* width: 700px; */
    height: 300px;
}

.jumbotron {
    background: url(failbanner.jpg);
    background-size: 100px;
}

@media screen and (max-width: 767px) {
    #gif-display {
        text-align: center;
    }
    .gif-display img {
        width: 100%;
    }
}